---
import Layout from "../layouts/Layout.astro";
import SveltePage from "../components/SveltePage/index.svelte";
---

<Layout title="Welcome to Astro.">
  <main>
    <div>
      <SveltePage client:only="svelte" />
    </div>
  </main>
</Layout>
