---
import Layout from "../layouts/Layout.astro";
import SveltePage from "../components/SveltePage/index.svelte";
import Video from "../components/Video.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div>
      <SveltePage client:only="svelte" transition:persist />
      <Video />
    </div>
  </main>
</Layout>
